@use "./overwrite/index.scss";
@use "./_select-antd.css";
@use "./fonts";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
  font-family: "Inter", serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background: #ccc;
}

:-webkit-autofill {
  box-shadow: 0 0 0 999px #eee inset;
}

.scrollbar::-webkit-scrollbar {
  height: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}

.scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}
